body {
    position: relative;
}

.header {
    height: 80px;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--border-color);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 165px 0 38px;
}

.header__left {
    display: flex;
}

.header__logo {
    width: 255px;
    margin-top: 4px;
}

.header__search {
    display: flex;
    position: relative;
    margin: auto 0;
    width: 224px;
    height: 40px;
    align-items: center;
}

.header__search-input {
    width: 100%;
    height: 100%;
    padding: 10px 48px 10px 12px;
    background-color: var(--background-light-color);
    border-radius: 12px;
    color: var(--subtext-color);
    font-size: 1.4rem;
}

.header__search-icon {
    position: absolute;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 12px;
    top: 0;
    right: 0;
    cursor: pointer;
}

.header__navbar {
    height: 80px;
}

.header__navbar-list {
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
}

.header__navbar-item:first-child {
    margin-right: 20px;
}

.header__navbar-item:nth-child(3) {
    margin: 0 38px 0 41px;
}

.header__navbar-link {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-color);
}

.header__navbar-avatar {
    display: block;
    width: 50px;
    height: 52px;
    border-radius: 16px;
    background-image: linear-gradient(to bottom, #625FDE, #fff);
    overflow: hidden;
}

/* Jumbotron css */
.jumbotron {
    width: 100%;
    height: 847px;
    background-image: url("../img/jumbotron.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jumbotron__content {
    width: 830px;
    margin-left: 97px;
}

.jumbotron__title {
    width: 100%;
    padding-top: 106px;
}

.jumbotron__title p {
    margin: 0;
    font-size: 8rem;
    line-height: 120%;
    font-weight: 800;
    color: var(--white-color);
}

.jumbotron__description {
    margin-top: 153px;
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--white-color);
    line-height: 2.8rem;
    letter-spacing: 0.1px;
}

.jumbotron__btn {
    display: block;
    margin-top: 42px;
    width: 259px;
    height: 71px;
    line-height: 71px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 12px;
    background-color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white-color);
}

/* About tennique */
.about-tennique {
    position: relative;
    width: 100%;
}

.about-tennique__content {
    width: 846px;
    margin: 0 117px;
    padding-top: 43px;
}

.about-tennique__title,
.about-tennique__counts-col-item-title {
    font-size: 2.2rem;
    line-height: 16px;
    letter-spacing: 0.6px;
    font-weight: 700;
}

.about-tennique__description {
    margin-top: 40px;
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.1px;
}

.about-tennique__counts {
    display: flex;
    align-items: center;
    padding: 0 188px;
    margin-top: 58px;
    width: 100%;
    height: 314px;
    background-color: var(--primary-color);
}

.about-tennique__counts-col {
    width: 240px;
    height: 314px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-tennique__counts-col:first-child {
    margin-right: 110px;
}

.about-tennique__counts-col-item {
    color: var(--white-color);
}

.about-tennique__counts-col-item-number {
    font-size: 5rem;
    line-height: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.1px;
}

.about-tennique__counts-col-item-number,
.about-tennique__counts-col-item-title {
    margin: 24px 0;
    text-align: center;
    text-transform: uppercase;
}


.about-tennique__image {
    position: absolute;
    width: 287px;
    top: -92px;
    right: 148px;
    z-index: 2;
}

/* Courts css */
.courts__container {
    width: 1110px;
    max-width: 100%;
    margin: auto;
}

.courts__sales {
    display: flex;
    height: 188px;
    margin-top: 220px;
}

.courts__sales-item {
    display: flex;
    justify-content: space-between;
    width: 540px;
    height: 100%;
    border-radius: 16px;
    background-color: #F3F4FF;
    overflow: hidden;
}

.courts__sales-item:first-child {
    margin-right: 30px;
}

.courts__sales-item-img {
    display: block;
    width: 269px;
    height: 188px;
}

.courts__sales-item-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.courts__sales-item-content {
    width: 210px;
    margin-right: 24px;
}

.courts__sales-item-title {
    font-size: 2rem;
    line-height: 2.8rem;
    height: 56px;
    font-weight: 600;
    margin: 24px 0 0;
    letter-spacing: 0.1px;
    color: var(--text-color);
}

.courts__sales-item-price {
    font-size: 4rem;
    font-weight: 800;
    line-height: 5.6rem;
    margin: 4px 0 12px 0;
    text-transform: uppercase;
    color: var(--primary-color);
}

.courts__sales-item-description {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color: var(--subtext-color);
}

.courts__wrapper {
    margin-top: 75px;
}

.courts__wrapper.courts__wrapper-mrtop {
    margin-top: 38px;
}

.courts__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.courts__title {
    margin: 0;
    font-size: 2.5rem;
    line-height: 2.8rem;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: var(--black-color);
}

.courts__view-link {
    margin-right: 8px;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: var(--primary-color);
}

.courts__grid {
    padding-bottom: 77px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.courts__grid-item {
    margin-left: 30px;
    margin-bottom: 27px;
}

.courts__grid-item-wrapper {
    display: block;
    width: 350px;
    height: 239px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.courts__grid-item-wrapper:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.50);
}

.courts__grid-item-img {
    position: relative;
    display: flex;
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.courts__grid-item-img-wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.courts__grid-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.courts__grid-item-content {
    display: flex;
    padding: 16px 9px 14px 9px;
    justify-content: space-between;
}

.courts__grid-item-content-title {
    display: block;
    margin: 0 0 9px 0;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: var(--text-color);
}

.courts__grid-item-content-description {
    display: flex;
    height: 16px;
    width: 220px;
    justify-content: space-between;
    align-items: center;
}

.courts__grid-item-content-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courts__grid-item-content-address-icon {
    display: flex;
    display: inline-flex;
    align-items: center;
}

.courts__grid-item-content-address-name {
    margin-left: 8px;
}

.courts__grid-item-content-address-name,
.courts__grid-item-content-price {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
    color: var(--subtext-color);
}

.courts__grid-item-content-content-ellipse {
    margin-top: -2px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.courts__grid-item-content-rate {
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 50px;
    text-align: right;
}

.courts__grid-item-content-stars {
    position: relative;
    height: 24px;
    margin-top: 4px;
}

.courts__grid-item-content-stars img {
    width: 90px;
    height: 18px;
    margin-right: -3px;
}

.courts__grid-item-content-hstar {
    position: absolute;
    top: 0;
    right: 0;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.71);
}

.courts__grid-item-content-view {
    margin-top: 6px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.7rem;
    color: var(--subtext-color);
}

.courts__grid-item-content-temp {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 94px;
    height: 32px;
    background-color: var(--primary-color);
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
}

.courts__grid-item-content-temp span {
    margin: auto;
    color: var(--white-color);
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}


/* Footer css   */
.footer {
    margin-top: 60px;
    border-top: 1px solid #C4C4C4;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    margin: 0 auto;
    padding: 24px 0 48px 0;
}

.footer__contact {
    margin-top: 17px;
    height: 70px;
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 2rem;
    letter-spacing: 0.1px;
}

.footer__contact-phone-icon {
    color: var(--primary-color);
}

.footer__contact-phone-icon svg {
    margin-right: 4px;
    margin-bottom: -5px;
}

.footer__contact-phone-number {
    display: block;
    margin-top: 12px;
    font-size: 2.1rem;
    color: var(--black-color);
    letter-spacing: 0.6px;
}

.footer__contact-channel {
    margin-top: 27px;
    display: flex;
}

.footer__contact-channel a {
    display: flex;
    margin-right: 7px;
}

.footer__contact-channel-tw,
.footer__contact-channel-gg,
.footer__contact-channel-yt {
    width: 45px;
    height: 46px;
    border-radius: 50%;
}

.footer__contact-channel-tw {
    background-color: #55ACE3;
}

.footer__contact-channel-tw svg,
.footer__contact-channel-gg svg,
.footer__contact-channel-yt span svg {
    display: block;
    margin: auto;
    align-items: center;
}

.footer__contact-channel-gg {
    background-color: #C5331E;
}

.footer__contact-channel-yt {
    background-color: #FF0000;
}

.footer__contact-channel-yt span {
    display: flex;
    width: 26px;
    height: 20px;
    border-radius: 4px;
    background-color: #fff;
    margin: auto;
    align-items: center;
}

.footer__tennique-logo img {
    margin-left: 8px;
}

.footer__tennique-form-input {
    width: 264px;
    height: 48px;
    background-color: #F1F1F1;
    border-radius: 9px;
    padding: 12px 24px 12px 34px;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: 0.1px;
}

.footer__tennique-form-btn {
    display: block;
    width: 266px;
    height: 48px;
    border-radius: 9px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: 0.1px;
    margin-top: 7px;
    cursor: pointer;
}

.footer__address {
    width: 294px;
    height: 166px;
    margin-top: 17px;
    margin-right: -10px;
}

.footer__address-title {
    display: inline-flex;
    position: relative;
    line-height: 2.2rem;
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: 0.1px;
    color: var(--primary-color);
}

.footer__address-title .icon-center {
    position: absolute;
    top: 8px;
    left: 6px;
}

.footer__address-title svg {
    margin-right: 4px;
    margin-top: -2px;
}

.footer__address-content {
    line-height: 2.1rem;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: var(--black-color);
    margin-top: 12px;
}

.footer__bottom {
    height: 154px;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.footer__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    max-width: 100%;
    margin: auto;
}

.footer__link-store {
    margin-top: 25px;
}

.footer__link-store a {
    display: block;
}

.footer__register {
    margin-top: 38px;
}

.footer__nav {
    list-style: none;
    margin: 12px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__nav-link {
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: var(--white-color);
}

/* Modal css */

.modal {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 99;
    font-family: 'Inter', sans-serif;
}

.modal__container {
    width: 1186px;
    height: 2996px;
    margin: 84px auto 0 auto;
    background-color: var(--white-color);
    border-radius: 20px;
    overflow: hidden;
}

.modal__header {
    padding: 44px 72px 40px 72px;
}

.modal__header h3 {
    font-size: 4.8rem;
    font-weight: 800;
    line-height: 5.8rem;
    margin: 0;
}

.modal__body {
    display: flex;
    padding: 0 135px 0 95px;
}

.modal__sidebar {
    position: relative;
    width: 314px;
    margin-right: 36px;
}

.progress-bar__list {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
}

.progress-bar__item {
    margin-bottom: 52px;
}

.progress-bar__item.active .progress-bar__ellipse {
    width: 25px;
    height: 25px;
    margin-left: -3px;
    margin-bottom: -5px;
    border: 5px solid var(--primary-color);
}

.progress-bar__item a {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: var(--black-color);
}

.progress-bar__ellipse {
    position: relative;
    z-index: 2;
    background: #fff;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 19px;
    border-radius: 50%;
    border: 2px solid #6D6D6D;
}

.progress-bar__line-dot {
    position: absolute;
    top: 33px;
    left: 8px;
    width: 2px;
    height: 446px;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__content {
    width: 606px;
    height: 2800px;
}

.add-court__form {

}

.form__fieldset-wrapper {
    margin-bottom: 15px;
}

.form__fieldset-label {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: var(--black-color);
    margin: 0;
    padding-bottom: 4px;
    margin-left: 2px;
}

.form__fieldset {
    width: 100%;
    border-radius: 9px;
    border: 1px solid #C7C8D2;
    padding: 14px;
    margin-bottom: 10px;
}

.input__wrapper {
    margin-bottom: 20px;
}

.input__label {
    margin: 0 0 5px 0;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    font-family: 'Nunito', sans-serif;
}

.input__wrapper input {
    height: 54px;
}

.input__wrapper input,
.input__wrapper textarea {
    width: 576px;
    border-radius: 10px;
    border: 1px solid #C7C8D2;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 15px;
    line-height: 2.4rem;
    letter-spacing: 0.12px;
    color: #000;
    font-family: 'Nunito', sans-serif;
}

.input__wrapper input:focus,
.input__wrapper textarea:focus,
.input__wrapper select:focus {
    border-color: var(--primary-color);
}

.input__wrapper textarea {
    height: 137px;
    resize: none;
}

.form__fieldset.fieldset-radio {
    padding: 28px 21px 16px 16px;
}

.radio__item {
    display: flex;
    margin-bottom: 13px;
}

.radio-input {
    margin-right: 12px;
}

.radio-input input {
    width: 20px;
    height: 20px;
    accent-color: #07a568;
}

.radio__item-label-title {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 600;
}

.radio__item-label-des {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 400;
    margin: 2px 0 0 0;
    color: rgba(0, 0, 0, 0.8);
}

.select-group {
    display: flex;
    justify-content: space-between;
}

.select-group select {
    width: 262px;
}

.input__wrapper select {
    height: 54px;
    border-radius: 10px;
    border: 1px solid #C7C8D2;
    color: var(--subtext-color);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 15px;
    line-height: 2.4rem;
    letter-spacing: 0.12px;
    font-family: 'Nunito', sans-serif;
    background-color: #fff;
}

.map__wrapper {
    display: flex;
    flex-direction: column;
}

.form__fieldset-label-des {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: 'Nunito', sans-serif;
    color: rgba(0, 0, 0, 0.7);
    margin: 0 0 8px 2px;
    max-width: 532px;
}

.court-price {

}

.court-price__item {
    display: flex;
    justify-content: center;
}

.court-price__item .input__wrapper input {
    width: 262px;
}

.court-price__item .input__wrapper select {
    width: 196px;
    margin-right: 21px;
}

.input__label.input__label--small {
    font-size: 1.4rem;
    line-height: 17px;
}

.court-price__add-item {
    margin-left: 50px;
    margin-top: -4px;
}

.add-times-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.6);
    margin-right: 10px;
}

#court-photo .form__fieldset {
    display: flex;
    height: 207px;
}

.add-photo__btn {
    width: 93px;
    height: 70px;
    margin: auto;
    cursor: pointer;
}

.add-photo__btn img {
    margin-left: 20px;
}

.add-photo__btn-title,
.add-photo__btn-des {
    text-align: center;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 700;
    margin: 0;
}

.add-photo__btn-des {
    color: #808080;
}

select#choose-bank {
    width: 576px;
}

.input__card {
    position: relative;
    width: 576px;
    height: 54px;
    border-radius: 9px;
}

.input__card span.vi-img {
    position: absolute;
    top: 10px;
    right: 13px;
}

.input__card span.check-img {
    position: absolute;
    top: 16px;
    right: 55px;
}

#business-license .form__fieldset {
    display: flex;
    justify-content: space-evenly;
    padding: 14px 0;
}

.add-photo__item {
    width: 275px;
    height: 177px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
}

.btn-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 38px;
    margin-right: -85px;
}

.btn-group button {
    width: 110px;
    height: 48px;
    border-radius: 8px;
    color: var(--white-color);
    margin-left: 21px;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.46px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

.btn-cancel {
    background-color: #B7B7B7;
}

.btn-confirm {
    background-color: var(--primary-color);
}